.navbar-toggler {
  --bs-navbar-toggler-border-color: transparent;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(178, 69, 17, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  box-shadow: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}

[data-bs-theme="dark"] .navbar-toggler {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(190, 120, 80, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.app-navbar {
  background: var(--color-background-navbar);
  --bs-navbar-color: var(--color-text);
  --bs-navbar-hover-color: var(--color-primary);
  --bs-navbar-active-color: var(--color-primary);
  --bs-nav-link-font-weight: normal;
}

.app-navbar .nav-link,
.app-navbar .nav-link:hover,
.app-navbar .nav-link:focus,
.app-navbar .nav-link.active {
  font-weight: normal;
}

.app-navbar-logo {
  height: 55px;
}
